In [ ]:
import pandas as pd

vendas_df = pd.read_csv("Vendas_Chocolate.csv", sep= ';')

display(vendas_df)

print(vendas_df.info()) # mostrar os dados x tipos de dados

print(vendas_df.describe()) # criar uma descrição estatística das colunas númericas dos seus dados

# Tratar os valores vazios

# Tratar valores em formatação errada

#Object = textos // float = numeros com casa decimal // datetime = datas

# Tratar valores duplicados

,Vendedor,País,Produto,Data,Valor,Caixas Enviadas,Data de Hoje
0,João Rocha,Reino Unido,Chocolate com Menta e Flocos,04/01/2022,"$5,320.00",180.0,03/02/2026
1,Vanderlei Teixeira,Índia,NaN,01/08/2022,"$7,896.00",94.0,NaN
2,Gisele Barbosa,Índia,Cubos de Manteiga de Amendoim,07/07/2022,"$4,501.00",91.0,NaN
3,Janaína Moreira,Austrália,Cubos de Manteiga de Amendoim,27/04/2022,"$12,726.00",342.0,NaN
4,João Rocha,Reino Unido,Cubos de Manteiga de Amendoim,24/02/2022,"$13,685.00",184.0,NaN
...,...,...,...,...,...,...,...
3277,Karina Machado,Austrália,Especiais Apimentados Finos,17/05/2024,"$5,303.58",354.0,NaN
3278,João Rocha,EUA,Chocolate Branco,07/06/2024,"$7,339.32",121.0,NaN
3279,Célio Bonfim,Canadá,Xarope de Chocolate Orgânico,26/07/2024,$616.09,238.0,NaN
3280,Doroti Santos,Índia,Bombas de Chocolate,28/07/2024,"$2,504.62",397.0,NaN
3281,Karina Machado,Índia,Mordidas 70% Cacau,23/05/2024,"$5,915.87",355.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Vendedor         3250 non-null   object
 1   País             3250 non-null   object
 2   Produto          3250 non-null   object
 3   Data             3282 non-null   object
 4   Valor            3282 non-null   object
 5   Caixas Enviadas  3250 non-null   float64
 6   Data de Hoje     1 non-null      object
dtypes: float64(1), object(6)
memory usage: 179.6+ KB
None
       Caixas Enviadas
count      3250.000000
mean        164.220923
std         123.740233
min           1.000000
25%          71.000000
50%         136.500000
75%         232.000000
max         778.000000